:root {
    --bg-dark: #111;
    --bg-light: #222;
    --text-light: #fff;
    --card-bg: #333;
    --hover-bg: #b8b6b6;
    --hover-text: black;
    --sun-size: 180px;  
    ---jupiter-size: 90px;
    ---saturn-size: 85px;
    ---uranus-size: 75px;
    ---neptune-size: 70px;
    ---earth-size: 65px;
    ---venus-size: 60px; 
    ---mars-size: 55px;   
    ---mercury-size: 50px;
    --header-size: 80px

}

body {
    background-color: var(--bg-dark);
    color: var(--text-light);
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1{
    font-size: var(--header-size);
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 250px;
    gap: 2rem;
    padding: 2rem;
    width: 1200px;
    margin: 20px auto auto auto;
}

.sun {
    grid-column-start: 1; 
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.sun .planet-shape {
    width: var(--sun-size);
    height: var(--sun-size);
    background: radial-gradient(circle, #ffcc00, #ff6600);
    margin: 100px auto auto auto;
}

.planet-card {
    background: var(--card-bg);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid rgb(140, 140, 140);
}

.planet-card:hover {
    background: var(--hover-bg);
    color: var(--hover-text);
    border: white 2px solid;
}

.planet-shape {
    background: radial-gradient(circle, #888, #222);
    border-radius: 50%;
    margin: 20px auto auto auto;
}

.Mercury .planet-shape {
    background: radial-gradient(circle, #bbb, #444);
    width: var(---mercury-size);
    height: var(---mercury-size);
    margin-top: 40px;
}

.Venus .planet-shape {
    background: radial-gradient(circle, #e6c399, #a66);
    width: var(---venus-size);
    height: var(---venus-size);
}

.Earth .planet-shape {
    background: radial-gradient(circle, #3399ff, #0044cc);
    width: var(---earth-size);
    height: var(---earth-size);
}

.Mars .planet-shape {
    background: radial-gradient(circle, #ff6633, #aa2200);
    width: var(---mars-size);
    height: var(---mars-size);
}

.Jupiter .planet-shape {
    background: radial-gradient(circle, #f4c542, #aa5500);
    width: var(---jupiter-size);
    height: var(---jupiter-size);
}

.Saturn .planet-shape {
    background: radial-gradient(circle, #e1c699, #886644);
    width: var(---saturn-size);
    height: var(---saturn-size);
}

.Uranus .planet-shape {
    background: radial-gradient(circle, #66ccff, #3399cc);
    width: var(---uranus-size);
    height: var(---uranus-size);
}

.Neptune .planet-shape {
    background: radial-gradient(circle, #3366cc, #003366);
    width: var(---neptune-size);
    height: var(---neptune-size);
}
