---
layout: layout.liquid
title: Planetary Playing Cards
---

<div class="grid">
    <div class="planetcard sun" data-sr>
        <div class="planetavatar sun"></div>
        <h2>Sun</h2>
        <p>Type G2V</p>
    </div>

    {% for planet in collections.planets %}
        <div class="planetcard" data-sr>
            <div class="planetavatar {{ planet.data.title | downcase }}"></div>
            <h2>{{ planet.data.title }}</h2>
            <p>{{ planet.data.au }} AU</p>
        </div>
    {% endfor %}
</div>
