---
title: planet
---

<div class="planetcard" data-sr>
    <div class="planetavatar {{ planet.data.title | downcase }}"></div>
    <h2>{{ planet.data.title }}</h2>
    <p>{{ planet.data.au }} AU</p>
</div>
